<section class="slider-main">
  <div class="slide-content">
    <h2 class="title">Media Video</h2>
    <p>
      <i class="fa-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-bullet" width="24" height="24" viewBox="0 0 24 24"><path d="M14,22H10V21H14V22M13,10V7H11V10L10,11.5V20H14V11.5L13,10M12,2C12,2 11,3 11,5V6H13V5C13,5 13,3 12,2Z" /></svg>
      </i>
      <a href="">
        ВИДЕО
      </a>
    </p>
    <p>
      <i class="fa-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-bullet" width="24" height="24" viewBox="0 0 24 24"><path d="M14,22H10V21H14V22M13,10V7H11V10L10,11.5V20H14V11.5L13,10M12,2C12,2 11,3 11,5V6H13V5C13,5 13,3 12,2Z" /></svg>
      </i>
      <a href="">
        РУКОВОДСТВА
      </a>
    </p>
    <p>
      <i class="fa-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-bullet" width="24" height="24" viewBox="0 0 24 24"><path d="M14,22H10V21H14V22M13,10V7H11V10L10,11.5V20H14V11.5L13,10M12,2C12,2 11,3 11,5V6H13V5C13,5 13,3 12,2Z" /></svg>
      </i>
      <a href="">
        СОВЕТЫ ИГРОКОВ
      </a>
    </p>
    <p>
      <i class="fa-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-bullet" width="24" height="24" viewBox="0 0 24 24"><path d="M14,22H10V21H14V22M13,10V7H11V10L10,11.5V20H14V11.5L13,10M12,2C12,2 11,3 11,5V6H13V5C13,5 13,3 12,2Z" /></svg>
      </i>
      <a href="">
        БОЕВАЯ ТЕХНИКА
      </a>
    </p>
    <p>
      <i class="fa-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-bullet" width="24" height="24" viewBox="0 0 24 24"><path d="M14,22H10V21H14V22M13,10V7H11V10L10,11.5V20H14V11.5L13,10M12,2C12,2 11,3 11,5V6H13V5C13,5 13,3 12,2Z" /></svg>
      </i>
      <a href="">
        ИГРОВЫЕ КАРТЫ
      </a>
    </p>
    <p>
      <i class="fa-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-bullet" width="24" height="24" viewBox="0 0 24 24"><path d="M14,22H10V21H14V22M13,10V7H11V10L10,11.5V20H14V11.5L13,10M12,2C12,2 11,3 11,5V6H13V5C13,5 13,3 12,2Z" /></svg>
      </i>
      <a href="">
        РЕПОРТАЖИ
      </a>
    </p>
    <p>
      <i class="fa-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-bullet" width="24" height="24" viewBox="0 0 24 24"><path d="M14,22H10V21H14V22M13,10V7H11V10L10,11.5V20H14V11.5L13,10M12,2C12,2 11,3 11,5V6H13V5C13,5 13,3 12,2Z" /></svg>
      </i>
      <a href="">
        РАЗРАБОТЧИКИ НА СВЯЗИ
      </a>
    </p>
    <p>
      <i class="fa-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-bullet" width="24" height="24" viewBox="0 0 24 24"><path d="M14,22H10V21H14V22M13,10V7H11V10L10,11.5V20H14V11.5L13,10M12,2C12,2 11,3 11,5V6H13V5C13,5 13,3 12,2Z" /></svg>
      </i>
      <a href="">
        ЗНАКОМИМСЯ С КОМАНДОЙ
      </a>
    </p>
    <p>
      <i class="fa-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-bullet" width="24" height="24" viewBox="0 0 24 24"><path d="M14,22H10V21H14V22M13,10V7H11V10L10,11.5V20H14V11.5L13,10M12,2C12,2 11,3 11,5V6H13V5C13,5 13,3 12,2Z" /></svg>
      </i>
      <a href="">
        ВИДЕОНОВОСТИ
      </a>
    </p>
    <p>
      <i class="fa-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-bullet" width="24" height="24" viewBox="0 0 24 24"><path d="M14,22H10V21H14V22M13,10V7H11V10L10,11.5V20H14V11.5L13,10M12,2C12,2 11,3 11,5V6H13V5C13,5 13,3 12,2Z" /></svg>
      </i>
      <a href="">
        ВИДЕО ОБ ИГРЕ
      </a>
    </p>
    <p>
      <i class="fa-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-bullet" width="24" height="24" viewBox="0 0 24 24"><path d="M14,22H10V21H14V22M13,10V7H11V10L10,11.5V20H14V11.5L13,10M12,2C12,2 11,3 11,5V6H13V5C13,5 13,3 12,2Z" /></svg>
      </i>
      <a href="">
        ВСЕ ВИДЕО
      </a>
    </p>
  </div>
  <!-- /.slide-content -->

  <div class="slider-video_bg">
    <video class="video" loop="loop" autoplay="autoplay" muted="muted">
      <source src="./assets/video/slider/video-0.mp4" type="video/mp4" />
      <source src="./assets/video/slider/video-0.webm" type="video/webm" />
    </video>
  </div>
  <!-- /.slider-video_bg -->
  <div class="box">
    <span style="--i:1;">
      <video class="video" loop="loop" autoplay="autoplay" muted="muted">
        <source src="./assets/video/slider/video-1.mp4" type="video/mp4" />
      </video>
      <div class="text">Armored Warfare. Путеводитель по Armored Warfare «Тактики»</div>
    </span>
    <span style="--i:2;">
      <video class="video" loop="loop" autoplay="autoplay" muted="muted">
        <source src="./assets/video/slider/video-2.mp4" type="video/mp4" />
      </video>
      <div class="text">Armored Warfare. Путеводитель по Armored Warfare «Тактики»</div>
    </span>
    <span style="--i:3;">
      <video class="video" loop="loop" autoplay="autoplay" muted="muted">
        <source src="./assets/video/slider/video-3.mp4" type="video/mp4" />
      </video>
      <div class="text">AW: Проект Армата. Путеводитель по Armored Warfare «PVE»</div>
    </span>
    <span style="--i:4;">
      <video class="video" loop="loop" autoplay="autoplay" muted="muted">
        <source src="./assets/video/slider/video-4.mp4" type="video/mp4" />
      </video>
      <div class="text">AW: Проект Армата. Система обнаружения.</div>
    </span>
    <span style="--i:5;">
      <video class="video" loop="loop" autoplay="autoplay" muted="muted">
        <source src="./assets/video/slider/video-5.mp4" type="video/mp4" />
      </video>
      <div class="text">Armored Warfare. «Всадники бури»!</div>
    </span>
    <span style="--i:6;">
      <video class="video" loop="loop" autoplay="autoplay" muted="muted">
        <source src="./assets/video/slider/video-6.mp4" type="video/mp4" />
      </video>
      <div class="text">AW: Проект Армата. Поздравление от команды</div>
    </span>
    <span style="--i:7;">
      <video class="video" loop="loop" autoplay="autoplay" muted="muted">
        <source src="./assets/video/slider/video-7.mp4" type="video/mp4" />
      </video>
      <div class="text">AW: Проект Армата. Карта «Мирный рубеж»</div>
    </span>
    <span style="--i:8;">
      <video class="video" loop="loop" autoplay="autoplay" muted="muted">
        <source src="./assets/video/slider/video-8.mp4" type="video/mp4" />
      </video>
      <div class="text">AW: Советы игроков. Карта «Линия фронта»</div>
    </span>
  </div>
  <!-- /.box -->
</section>
<!-- /.slider-main -->
