<div class="header">
  <div class="bg-video">
    <video class="video" loop autoplay muted>
      <source src="./assets/video/armata.mp4" type="video/mp4" />
    </video>
  </div>
  <!-- /.bg-video -->
  <div class="header-content">
    <h1 class="title">Armored Warfare.</h1>
    <div class="subtitle">
      <h2>
        Боевой путь: «Войны прошлого»
      </h2>
      <a href="#" class="btn">Скачать игру</a>
    </div>
    <span class="to-bottom">
      &lsaquo;
      &lsaquo;
      &lsaquo;
    </span>
  </div>
  <!-- /.header-content -->
  <!-- /.subtitle -->
</div>
<!-- /.header -->
