<div class="block-three">
  <div class="wrap">
    <h2 class="title">0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!</h2>
    <div class="row">
      <div class="col">
        <div class="col-img">
          <span class="category">category</span>
          <div class="date">30.11.2021</div>
          <img src="./assets/img/bg.jpeg" alt="" width="270" height="150">
        </div>
        <!-- /.img -->
        <div class="col-title">
          0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!
        </div>
        <!-- /.title -->
        <div class="col-desk">
          Обновление 0.38 принесло с собой новый сезон под названием «Исход». В нем продолжится история...
        </div>
        <!-- /.desk -->
      </div>
      <!-- /.col -->
      <div class="col">
        <div class="col-img">
          <span class="category">category</span>
          <div class="date">30.11.2021</div>
          <img src="./assets/img/bg.jpeg" alt="" width="270" height="150">
        </div>
        <!-- /.img -->
        <div class="col-title">
          0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!
        </div>
        <!-- /.title -->
        <div class="col-desk">
          Обновление 0.38 принесло с собой новый сезон под названием «Исход». В нем продолжится история...
        </div>
        <!-- /.desk -->
      </div>
      <!-- /.col -->
      <div class="col">
        <div class="col-img">
          <span class="category">category</span>
          <div class="date">30.11.2021</div>
          <img src="./assets/img/bg.jpeg" alt="" width="270" height="150">
        </div>
        <!-- /.img -->
        <div class="col-title">
          0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!
        </div>
        <!-- /.title -->
        <div class="col-desk">
          Обновление 0.38 принесло с собой новый сезон под названием «Исход». В нем продолжится история...
        </div>
        <!-- /.desk -->
      </div>
      <!-- /.col -->
      <div class="col">
        <div class="col-img">
          <span class="category">category</span>
          <div class="date">30.11.2021</div>
          <img src="./assets/img/bg.jpeg" alt="" width="270" height="150">
        </div>
        <!-- /.img -->
        <div class="col-title">
          0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!
        </div>
        <!-- /.title -->
        <div class="col-desk">
          Обновление 0.38 принесло с собой новый сезон под названием «Исход». В нем продолжится история...
        </div>
        <!-- /.desk -->
      </div>
      <!-- /.col -->
      <div class="col">
        <div class="col-img">
          <span class="category">category</span>
          <div class="date">30.11.2021</div>
          <img src="./assets/img/bg.jpeg" alt="" width="270" height="150">
        </div>
        <!-- /.img -->
        <div class="col-title">
          0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!
        </div>
        <!-- /.title -->
        <div class="col-desk">
          Обновление 0.38 принесло с собой новый сезон под названием «Исход». В нем продолжится история...
        </div>
        <!-- /.desk -->
      </div>
      <!-- /.col -->
      <div class="col">
        <div class="col-img">
          <span class="category">category</span>
          <div class="date">30.11.2021</div>
          <img src="./assets/img/bg.jpeg" alt="" width="270" height="150">
        </div>
        <!-- /.img -->
        <div class="col-title">
          0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!
        </div>
        <!-- /.title -->
        <div class="col-desk">
          Обновление 0.38 принесло с собой новый сезон под названием «Исход». В нем продолжится история...
        </div>
        <!-- /.desk -->
      </div>
      <!-- /.col -->
      <div class="col">
        <div class="col-img">
          <span class="category">category</span>
          <div class="date">30.11.2021</div>
          <img src="./assets/img/bg.jpeg" alt="" width="270" height="150">
        </div>
        <!-- /.img -->
        <div class="col-title">
          0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!
        </div>
        <!-- /.title -->
        <div class="col-desk">
          Обновление 0.38 принесло с собой новый сезон под названием «Исход». В нем продолжится история...
        </div>
        <!-- /.desk -->
      </div>
      <!-- /.col -->
      <div class="col">
        <div class="col-img">
          <span class="category">category</span>
          <div class="date">30.11.2021</div>
          <img src="./assets/img/bg.jpeg" alt="" width="270" height="150">
        </div>
        <!-- /.img -->
        <div class="col-title">
          0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!
        </div>
        <!-- /.title -->
        <div class="col-desk">
          Обновление 0.38 принесло с собой новый сезон под названием «Исход». В нем продолжится история...
        </div>
        <!-- /.desk -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.wrap -->
</div>
<!-- /.block-news -->
