<div class="side-bar">
  <div class="search">
    <div class="title">Поиск по новостям</div>
    <input type="text" placeholder="введите запрос">
  </div>
  <!-- /.search -->
  <div class="category">
    <div class="title">Категории</div>
    <ul class="category-list">
      <li class="category-items">
        <a href="#">Акции</a>
      </li>
      <!-- /.category-items -->
      <li class="category-items">
        <a href="#">обновления</a>
      </li>
      <!-- /.category-items -->
      <li class="category-items">
        <a href="#">события</a>
      </li>
      <!-- /.category-items -->
      <li class="category-items">
        <a href="#">от разработчиков</a>
      </li>
      <!-- /.category-items -->
      <li class="category-items">
        <a href="#">другое</a>
      </li>
      <!-- /.category-items -->
    </ul>
    <!-- /.category-list -->
  </div>
  <!-- /.category -->
  <div class="popular-news">
    <div class="title">
      Популярные новости
    </div>
    <div class="row">
      <div class="img-block">
        <img src="./assets/img/bg-3.jpeg" alt="" width="70">
      </div>
      <!-- /.img-block -->
      <div class="content-block">
        <div class="title">0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!</div>
        <div class="date">01.01.2022</div>
      </div>
      <!-- /.content-block -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="img-block">
        <img src="./assets/img/bg-3.jpeg" alt="" width="70">
      </div>
      <!-- /.img-block -->
      <div class="content-block">
        <div class="title">0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!</div>
        <div class="date">01.01.2022</div>
      </div>
      <!-- /.content-block -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="img-block">
        <img src="./assets/img/bg-3.jpeg" alt="" width="70">
      </div>
      <!-- /.img-block -->
      <div class="content-block">
        <div class="title">0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!</div>
        <div class="date">01.01.2022</div>
      </div>
      <!-- /.content-block -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="img-block">
        <img src="./assets/img/bg-3.jpeg" alt="" width="70">
      </div>
      <!-- /.img-block -->
      <div class="content-block">
        <div class="title">0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!</div>
        <div class="date">01.01.2022</div>
      </div>
      <!-- /.content-block -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="img-block">
        <img src="./assets/img/bg-3.jpeg" alt="" width="70">
      </div>
      <!-- /.img-block -->
      <div class="content-block">
        <div class="title">0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!</div>
        <div class="date">01.01.2022</div>
      </div>
      <!-- /.content-block -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="img-block">
        <img src="./assets/img/bg-3.jpeg" alt="" width="70">
      </div>
      <!-- /.img-block -->
      <div class="content-block">
        <div class="title">0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!</div>
        <div class="date">01.01.2022</div>
      </div>
      <!-- /.content-block -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="img-block">
        <img src="./assets/img/bg-3.jpeg" alt="" width="70">
      </div>
      <!-- /.img-block -->
      <div class="content-block">
        <div class="title">0.38: ОБНОВЛЕНИЕ УЖЕ В ИГРЕ!</div>
        <div class="date">01.01.2022</div>
      </div>
      <!-- /.content-block -->
    </div>
    <!-- /.row -->
  </div>
  <!-- ./popular-news -->
  <div class="social"></div>
  <!-- /. -->
</div>
<!-- /.side-bar -->
