<div class="main">
  <div class="wrap">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="logo" width="50">
    </div>
    <!-- /.logo -->
    <div class="nav-mob" hidden>nav-mob</div>
    <!-- /.nav-mob -->
    <div class="nav">
      <a href="#" class="link active-link" >Главная</a>
      <a href="#" class="link">Новости</a>
      <a href="#" class="link">О игре</a>
      <a href="#" class="link">Сообщество</a>
      <a href="#" class="link">Медиа контент</a>
    </div>
    <!-- /.nav -->
  </div>
  <!-- /.wrap -->
</div>
<!-- /.main -->
