<div class="block-two" style="background: url('./assets/img/bg-3.jpeg')">
  <div class="wrap">
    <div class="block-text">
      <h2 class="block-text__title">ОБ ИГРЕ</h2>
      <!-- /.block-text__title -->
      <div class="block-text__body">
        Armored Warfare — танковый онлайн-экшн от американской студии Obsidian Entertainment и российской Allods Team. Вас ждут динамичные сражения на современной бронетехнике: управляйте новейшими танками, сражаясь против других игроков или выполняя сюжетные миссии на десятках различных карт. Современная графика, огромные игровые возможности и лучшая техника: от Т-64 и М60А2 до Т-14 «Армата» и М1А2 Abrams, от ПТ-76 и LAV-150 до БМД-4 и M1128 MGS Stryker! 10 уровней боевых машин от 6 поставщиков, 5 классов, несколько режимов сражений и многое другое — вам обязательно понравится. Попробуйте! Обучающий режим и базовый геймплей первых уровней обеспечат вам легкое постижение основ игры.
      </div>
      <!-- /.block-text__body -->
    </div>
    <!-- /.block-text -->
  </div>
  <!-- /.wrap -->
</div>
<!-- /.block-info -->
