.block-two{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  min-height: 600px;
  padding: 70px 0;
}
.block-text{
  padding: 30px 15px;
  max-width: 450px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.block-text__title{
  margin-bottom: 30px;
}
.block-text__body{
  line-height: 1.65;
}
